body {
  padding-left: 25px;
  font: 14px arial;
}
h1 {
  color: #888888;
}
fieldset {
  border: 0px;
  border-top: 2px solid #AAAAAA;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 25px;
}
legend {
  color: #AAAAAA;
}
a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
select {
  width: 260px;
  margin-right: 9px;
  float: left;
}
input {
  margin-bottom: 5px;
  margin-top: 3px;
  margin-right: 5px;
}
input[type="text"] {
  width: 256px;
}
input[type="url"] {
  width: 512px;
}
input[type="radio"], input[type="checkbox"] {
  vertical-align: middle;
}
form:not(#paypal) {
  display: inline-block;
}

#servicesList {
  display: none;
}
#servicesList .service_modify {
  visibility: hidden;
  padding-right: 10px;
}
#servicesList input:hover + span .service_modify, 
#servicesList span:hover .service_modify {
  visibility: visible;
}
#servicesList label {
  padding-right: 10px;
}
#servicesList form[name^="service_new"] {
  display: none;
}
#servicesList #service_sysDefault,
#servicesList #service_sysDefault + label  {
  display: none;
}

#contextmenu_enable:disabled + label {
  color: #888888;
}
#contextmenu_unsupported {
  display: none;
}

#paypal {
  float: right;
}
