body {
  padding-left: 25px;
  font: 14px arial;
}
fieldset {
  border-radius: 4px;
  border: 1px solid #666666;
  background-color: #f8faff;
  max-width: 100%;
}
legend {
  padding: 0 5px;
}
label {
  padding-left: 5px;
  cursor: pointer;
}
h1 {
  margin: 12px 18px;
}
.saved {
  color: blue;
  opacity: 0;
  margin-left: 75px;
}
#paypal {
  float: right;
}
#inputCustom {
  width: 98%;
  max-width: 500px;
}
#explainCustom, #addCustom, #removeCustom {
  font-size:10px;
  margin:3px;
}
#custom, #customLabel, #customURL, #removeCustom {
  display: none;
}
#customLabel {
  font-style: italic;
  margin-right: 5px;
}
a {
  color: blue;
}