<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
     <key>Extension Updates</key>
     <array>
       <dict>
         <key>CFBundleIdentifier</key>
         <string>com.yourCompany.safari.mailto</string>
         <key>Developer Identifier</key>
         <string>KVTSWAQYE2</string>
         <key>CFBundleVersion</key>
         <string>1.16.1</string>
         <key>CFBundleShortVersionString</key>
         <string>1.16.1</string>
         <key>URL</key>
         <string>https://sites.google.com/site/mailtoextension/mailto.safariextz</string>
       </dict>
     </array>
  </dict>
</plist>